html,
body {
	/*Sizing*/
	margin:0;
	padding:0;

	/*Locating*/

	/*Styling*/
}

html {
	/*Sizing*/
	overflow: hidden;

	/*Locating*/

	/*Styling*/
}

body {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	font-size: 80%;
	background-color: #e0d8d8;
}

textarea {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	font-family: monospace;
}

#pageHeader {
	/*Sizing*/
	margin: 0;
	margin-top: 0.4em;
	padding: 0;

	/*Locating*/

	/*Styling*/
	color: #776666;
	text-align: center;
}

#pageHeader h1 {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	font-size: 3em;
}

#pageHeader * {
	/*Sizing*/
	margin: 0;
	padding: 0;

	/*Locating*/

	/*Styling*/
	line-height: 1em;
	font-weight: 100;
}

#pageHeader a {
	/*Sizing*/

	/*Locating*/
	position: relative;

	/*Styling*/
	color: #776666;
	z-index: 20;
	text-decoration: none;
}

#pageHeader h1 a:hover {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	color: #ffffff;
}

#pageHeader h4 a:hover {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	text-decoration: underline;
}

#leftContainer,
#rightContainer {
	/*Sizing*/
	width: 47.5%;
	margin: 0;
	padding: 0;

	/*Locating*/
	position: relative;

	/*Styling*/
}

#leftContainer {
	/*Sizing*/
	float: left;

	/*Locating*/
	left: 1.5%;

	/*Styling*/
}

#rightContainer {
	/*Sizing*/
	float: right;

	/*Locating*/
	right: 1.5%;

	/*Styling*/
}

#rightContainer > * {
	/*Sizing*/
	float: right;
	/*Locating*/

	/*Styling*/
}

.paneHeader {
	/*Sizing*/
	width: 100%;
	margin: 0;
	padding: 0;

	/*Locating*/
	position: relative;
	display: block;

	/*Styling*/
}

.pane {
	/*Sizing*/
	width: 100%;
	height: 400px;/* for now, set a height so things look nice if the user has javascript disabled */
	margin: 0;
	padding: 0;
	padding-left: 4px; /* pane padding */
	border-width: 1px;

	/*Locating*/
	display: block;

	/*Styling*/
	border-style: solid;
	border-color: #888888;
	border-right-color: #000000;
	border-bottom-color: #000000;
	background-color: #eeeeee;
}

#previewPane {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	background-color: #f3eeee;
}

#outputPane {
	/*Sizing*/
	display: none;

	/*Locating*/

	/*Styling*/
	color: #ffffff;
	background-color: #6c6666;
}

#syntaxPane {
	/*Sizing*/
	display: none;

	/*Locating*/

	/*Styling*/
	background-color: #f7ecec;
}

div.pane {
	/*Sizing*/

	/*Locating*/
	overflow: auto;

	/*Styling*/
}

#inputPane {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	background-color: #ffffff;
}

#previewPane > * {
	/*Sizing*/
	margin-left: 4px;
	margin-right: 4px;

	/*Locating*/

	/*Styling*/
}

#previewPane > blockquote {
	/*Sizing*/
	margin-left: 3em;

	/*Locating*/

	/*Styling*/
}

#previewPane > :first-child {
	/*Sizing*/
	margin-top: 4px; /* pane padding */

	/*Locating*/

	/*Styling*/
}

#previewPane * {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	line-height: 1.4em;
}

#previewPane code {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	font-size: 1.3em;
}

#pageFooter {
	/*Sizing*/
	width: 100%;
	height: 2.5em;
	margin: 0;
	margin-top: 0.5em;
	padding: 0;

	/*Locating*/
	position: relative;
	float: left;

	/*Styling*/
}

#pageFooter a {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	color: #666666;
	text-decoration: none;
}

#pageFooter a:hover {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	text-decoration: underline;
}

#paneControls {
	/*Sizing*/

	/*Locating*/
	position: absolute;
	left: 50%;

	/*Styling*/
}

#paneSetting {
	/*Sizing*/
	border-width: 1px;

	/*Locating*/

	/*Styling*/
	color: #222222;
	border-style: solid;
	border-color: #999999;
	background-color: #dacccc;
}

#convertTextControls {
	/*Sizing*/

	/*Locating*/
	position: absolute;
	right: 5em;

	/*Styling*/
}

#convertTextButton {
	/*Sizing*/
	border: none;

	/*Locating*/

	/*Styling*/
	color: #000000;
	line-height: 1em;
	background-color: #ccbfbf;
}

#convertTextButton:hover {
	/*Sizing*/

	/*Locating*/

	/*Styling*/
	color: black;
	background-color: #ffffff;
}

#convertTextSetting {
	/*Sizing*/
	border-width: 1px;

	/*Locating*/

	/*Styling*/
	color: #222222;
	border-style: solid;
	border-color: #999999;
	background-color: #dacccc;
}

#processingTime {
	/*Sizing*/
	width: 4em;
	margin: 0;
	padding: 0;

	/*Locating*/
	position: absolute;
	top: 0;
	right: 1em;

	/*Styling*/
	color: #999999;
	text-align: right;
}
